/**
Sample css code
*/
/* Set height to 100% for body and html to enable the background image to cover the whole page: */
body,
html {
  height: 100%;
}

/*Set background image*/
.container {
    background-image: url('http://digitalimagemakerworld.com/images/food-wallpaper/36342701-food-wallpaper.jpg');
    height: 100%;
    background-size:auto;
    background-repeat: no-repeat;
}

/* Position text in the middle */
.middle {
    position: center;
    text-align: left;
    font-size: 25px;
    color: black;
    background: rgba(240, 248, 255, 0.75);
}

/*Set circle in unordered list*/
.middle ul {
  list-style-type: circle;
}

/*Set text inside li tag to left*/
.middle ul li {
  text-align: left !important;
}

/*Set text color for a tag inside middle class and ul>li element*/
.middle ul li a {
  color: beige;
}

/*Change text color and decoration for a tags inside middle class and ul>li element*/
.middle ul li a:hover {
  color: red;
  text-decoration: none;
}
body{
    color:black;
    background-color:aliceblue;
}
h1{
    font-size:60px;
    color:darkmagenta;
}
.bottom {
    position: absolute;
    bottom: 10px;
    font-size
}
.bottom a:hover{
    color:red;
}
.top{
    position:absolute;
    top: 10px;
    font-size: 20px;
}

